
@font-face {
    font-family: "PTAstraSans-Bold"; /* Имя шрифта */
    src: url("../fonts/PTAstraSans-Bold.ttf"); /* Путь к файлу со шрифтом */ 
}
@font-face {
    font-family: "PTAstraSans-Italic"; /* Имя шрифта */
    src: url("../fonts/PTAstraSans-Italic.ttf"); /* Путь к файлу со шрифтом */ 
}
@font-face {
    font-family: "PTAstraSans-Regular"; /* Имя шрифта */
    src: url("../fonts/PTAstraSans-Regular.ttf"); /* Путь к файлу со шрифтом */ 
}
    



