@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
      
    .hover-text {
        display: block;
        float: left;
        width: 78px;
        height: 9px;
        color: #9197a1;
        font-family: "PT Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
    }
    
    .about-card {
	    &:hover .arrow-link_active{
            display: none;
        }
        &:hover .arrow-link{
            display: block;
            top: 6px;
        }
    }
    
    .arrow-link {
        position: absolute;
        left: 140px;
        top: 6px;
    }
    
    .proj-card{
        margin-bottom: 10px;
        &__descr {
            &::before{
                content: "";
                left: -71px;
            }
        }
    
        &__fon {
            top: 180px;
            position: absolute;
            left: -70px;
            z-index: -1;
            height: 410px;
            background-color: white;
            border: 1px solid #e5e5e5;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        }
    }
    
    .project-info {
        margin-top: 20px;
        margin-bottom: 20px;
        &__title {
            margin-top: 14px;
        }
    }

    


    .div-nepar2{
        margin-top: -80px;
    }
    .div-par1{
        margin-top: 80px;
    }
    .div-par2{
        margin-top: 0px;
    }
    
    
    .work-item {
	    &:hover .arrow-link_active{
            display: none;
        }
        &:hover .arrow-link{
            display: block;
            float: right;
            
        }
}
    
}

	/**/

@media only screen and (max-width : 1024px){
    
    
    .hover-text {
        display: block;
        float: left;
        width: 78px;
        height: 9px;
        color: #9197a1;
        font-family: "PT Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
    }
    
    .about-card {
	    &:hover .arrow-link_active{
            display: none;
        }
        &:hover .arrow-link{
            display: block; 
        }
    }
    
    
    .proj-card{
        margin-bottom: 10px;
        &__descr {
            &::before{
                content: "";
                left: -71px;
            }
        }
        &__fon {
            top: 60px;
            position: absolute;
            left: -70px;
            z-index: -1;
            height: 410px;
            background-color: white;
            border: 1px solid #e5e5e5;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        }
    }
       
}

   /**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
    
     .proj-card{
        margin-bottom: 50px;
        &__descr {
            &::before{
                content: "";
                left: -54px;
            }
        }
    }
    
    footer{
        text-align: center;
    }
    
    .phone {
        &__content {
            width: 100%;
        }
    }
    
    
    
    .footer-bar__item {
        color: #000;
        margin-left: 20px;
        margin-right: 20px;
        &:hover{
            color: #f47d42;
        }
    }
}

	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    
    .proj-card{
        margin-bottom: 10px;
        min-height: 300px;
        &__descr {
            position: relative;
            &::before{
                color: #000;
                ontent: "";
            }
        }
        &__link {
            margin-top: 0px;
        }

    }
    
    .div-nepar2{
        margin-top: 0px;
    }
    .div-par1{
        margin-top: 0px;
    }
    .div-par2{
        margin-top: 0px;
    }
    
    
    
    .counter-card {
    
        &__number {
            text-align: center;
            width: 100%;
        }
        &__img {
            position: absolute;
            top: 125px;
            left: 20px;
        }
        &_descr {
            text-align: center;
            width: 100%;
        }
    }
    
    .label{
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 0px solid #9197a1;
    }
    .form__elem{
        min-height: 85px;
    }
    
}

	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){}

	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
    .burger {
        margin-top: 2px;
        font-size: 30px;
    }
    .logo__img{
        width: 170px;
    }
}

	/**/

















/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){}
	/**/

