@import "libs";
@import "vars";
@import "font";

h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
}

a{
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #fff;
}


.header{
    position: relative;
    height: 700px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 61%;
    box-shadow:0 0 0 600px rgba(0, 0, 0, 0.33) inset;
}


/*---------- preheader start ----------*/

.preheader {
	border-bottom: 1px solid #cecece;
}

.social-bar{
    margin-top: 19px;
    &__item{
        margin-right: 20px;
    }
}

.info{
    display: flex;
    justify-content: space-between;
}

.tel{
    display: inline-block;
    color:#fff;
}

.work-time{
     display: inline-block;
    color:#fff;
}

.flags{
    display: inline-block;
}

/*---------- preheader end ----------*/

/*---------- preheader end ----------*/
.logo {
    &__img {
        filter: hue-rotate(-360deg);
        margin-top: -13px;
    }
    &__descr {
        display: inline-block;
        margin-top: 11px;
        margin-left: 5px;
        width: 57px;
        height: 29px;
        font-family: "PT Sans";
        font-size: 9px;
        font-weight: 700;
        line-height: 11px;
        text-transform: uppercase;
        color: #fff;
    }
}







/*---------- preheader end ----------*/

/*---------- preheader end ----------*/
nav{
    margin-top: 25px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
    display: block;
}

.topmenu > li {
  flex-direction: row;
  position: relative;
}

.topmenu > li > a {   
margin: 0px 0px;
  height: 31px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}

.topmenu > li > a:hover{
    border-bottom: 1px solid #fff;
}

.submenu {
    padding-top: 13px;
    padding-bottom: 13px;
    flex-direction: column;
    position: absolute;
    top: 30px;
    z-index: 5;
    min-width: 200px;
    background-color: #000;
    border-top: 1px solid #fff;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}

.submenu li a {
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
}

.submenu li a:hover {
    background-color: #1a1a1a;
}

.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}

nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}



.burger{
    text-align: right;
    color: #fff;
    font-size: 25px;
    &__link{
        margin-top: 10px;
    }
}

/*---------- preheader start ----------*/

/*---------- preheader start ----------*/
h1{
    margin-top: 100px;
    margin-bottom: 30px;
    width: 262px;
    height: 66px;
    color: white;
    font-family: PTAstraSans;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    
}


.description{
    padding-top: 74px;
    padding-bottom: 74px;
    border: 1px solid #cecece;
    &__text{
        display: block;
        margin: 0px auto;
        text-align: center;
        width: 265px;
        height: 50px;
        color: white;
        font-family: PTAstraSans-Italic;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }
    
}


.show-more {
    margin-top: 50px;
    &__link{
        text-align: center;
        padding: 16px 0px 20px;
        display: block;
        border: 1px solid white;
        color: white;
        font-family: "PT Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
    }
}


/*---------- preheader start ----------*/




/*---------- preheader start ----------*/
.arrow-down{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-size: 40px;
}

/*---------- preheader start ----------*/




.div-par1{
    margin-top: 80px;
}
.div-par2{
    margin-top: 80px;
}


/*---------- preheader start ----------*/
.about {
	min-height: 620px;
}
.border-top-left{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-top: 4px solid #f47d42; 
    border-left: 4px solid #f47d42; 
}
.border-top-right{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    border-top: 4px solid #f47d42; 
    border-right: 4px solid #f47d42; 
}
.border-bottom-left{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-bottom: 4px solid #f47d42; 
    border-left: 4px solid #f47d42; 
}
.border-bottom-right{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 22px;
    border-bottom: 4px solid #f47d42; 
    border-right: 4px solid #f47d42; 
}

.about-card {
    min-height: 400px;
    &:hover .border-top-left{
        display: block;
    }
    &:hover .border-top-right,{
        display: block;
    }
    &:hover .border-bottom-left{
        display: block;
    }
    &:hover .border-bottom-right{
        display: block;
    }
    &:hover .hover-text{
        display: block;
    }
    &:hover .arrow-link{
        display: none;
    }
    &:hover .arrow-link_active{
        display: block;
        margin-top: 6px;
        position: absolute;
        left: 120px;
    }
    &:hover &__title:before{
        display: none;
    }
    &__img {
        padding-left: 40px;
        margin-bottom: 40px;
        margin-top: 40px;
        height: 55px;
    }
    &__title {
        padding-left: 40px;
        margin-bottom: 55px;
        width: 140px;
        height: 44px;
        color: black;
        font-family: PTAstraSans-Bold;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 155px;
            width: 30px;
            height: 4px;
            background-color: #014db7;
        }
    }
    &__descr {
        padding-left: 40px;
        margin-bottom: 40px;
        width: 220px;
        height: 65px;
        color: black;
        font-family: PTAstraSans-Italic;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    &__link {
        padding-left: 40px;
//        margin-right: -61px;
//        margin-top: 5px;
        width: 200px;
        display: block;
        width: 200px;
        height: 25px;
        position: relative;
    }   
}
.hover-text{
    display: none;
    position: absolute;
    top: 0;
    width: 78px;
    height: 9px;
    color: #f47d42;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}

.arrow-link {
    position: absolute;
    left: 42px;
    top: 6px;
}
.arrow-link_active{
    display: none;
    padding-left: 10px;
    
}
/*---------- preheader start ----------*/


.counter{
    background-image: url(../img/counter-bg.png);
    background-size: cover;
    min-height: 600px;
    padding-bottom: 50px;
}

.counter-card {
    position: relative;
    &__number {
        color: #fff;
//        color: transparent;
        font-family: Exo2;
        font-size: 96px;
        font-weight: 900;
        line-height: 27px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__img {
        position: absolute;
        top: 125px;
        left: -20px;
    }
    &_descr {
        color: #fff;
        width: 125px;
        height: 57px;
        font-family: PTAstraSans-Regular;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
    }
}


















.proj-card {
    z-index: 2;
    padding: 0px;
    margin-bottom: 60px;
    position: relative;
    min-height: 420px;
    &__img {
      width: 100%;
    }
    &__descr {
        display: inline-block;
        position: relative;
//        width: 220px;
//        margin-left: 75px;
        height: 23px;
        color: black;
        font-family: PTAstraSans-Bold;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        padding: 0;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: -90px;;
            width: 45px;
            height: 4px;
            background-color: #014db7;
        }
    }
    &__link {
        color: #9197a1;
        margin-top: 20px;
        
        &:hover{
            color:  #e67c00;
        }
        &:hover .project-arrow-link{
            display: none;
        }
        &:hover .arrow-link_active{
            display: inline-block;
        }
    }
    &__fon{
        position: absolute;
        top: 65px;
        left: -70px;
        z-index: -1;
        height: 410px;
        background-color: white;
        border: 1px solid #e5e5e5;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    }
}



.project-arrow-link {
    padding-left: 20px;
}

.project-info {
    display: none;
    &__title {
        width: 278px;
        color: black;
        font-family: PTAstraSans-Bold;
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
        padding-left: 40px;
        margin-top: 50px;
    }
    &__year {
        position: relative;
        width: 278px;
        color: black;
        font-family: PTAstraSans-Italic;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 40px;
        &::before{
            content: "";
            width: 11px;
            height: 2px;
            background-color: #014db7;
            position: absolute;
            top: 8px;
            left: 5px;
        }
    }
    &__area {
        position: relative;
        width: 278px;
        color: black;
        font-family: PTAstraSans-Italic;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 40px;
        &::before{
            content: "";
            width: 11px;
            height: 2px;
            background-color: #014db7;
            position: absolute;
            top: 8px;
            left: 5px;
        }
    }
    &__contora {
        position: relative;
        width: 278px;
        color: black;
        font-family: PTAstraSans-Italic;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 40px;
        &::before{
            content: "";
            width: 11px;
            height: 2px;
            background-color: #014db7;
            position: absolute;
            top: 8px;
            left: 5px;
        }
    }
    &__descr {
        padding-left: 40px;
        font-size: 12px;
        font-family: PTAstraSans-Italic;
    }
    
}

.rotate{
    transform: rotate(-90deg);
    margin-left: -55px;
    margin-top: 70px;
    width: 150px;
    color: #9197a1;
    font-family: PTAstraSans-Italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}






.work-item{
    min-height: 457px;
    border: 1px solid #cecece;
    &:hover{
        border: 1px solid #f47d42;
        box-shadow: 0 20px 40px rgba(244, 125, 66, 0.3);
    }
     &:hover .hover-text{
        display: block;
    }
    &:hover .arrow-link{
        display: none;
    }
    &:hover .arrow-link_active{
        display: block;
        margin-top: 6px;
        float: right;
        margin-right: 70px;
    }
    &__img {
        padding-left: 40px;
        margin-top: 50px;
        margin-bottom: 70px;
        }
    &__title {
        padding-left: 40px;
        margin-bottom: 30px;
        width: 220px;
        height: 65px;
        color: black;
        font-family: "Myriad Pro";
        font-size: 24px;
        font-weight: 400;
        line-height: 27px;
        }
    &__descr {
        padding-left: 40px;
        margin-bottom: 30px;
        }
    &__link{
        display: block;
        height: 25px;
        position: relative;
    }
}



.work-item__link{
        margin-top: 30px;
    }

.work-text{
    margin-left: 43px;
}


.partner{
    height: 220px;
}
.item{
    width: 110px;
    height: 44px;
    .partner-logo{
        margin-left: 25%;
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
        }
    }
}

















.carusel{
    margin-top: 50px ;   
}



.form__wrapp{
    background-image: url(../img/form-bg.png);
    background-position: center;
   
}
forma{
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.form-title{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

.form-descr{
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.form__elem{
    min-height: 65px;
}

.label{
    padding: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9197a1;
    color: #9197a1;
    font-family: PTAstraSans-Italic;
    font-size: 14px;
    font-weight: 400;
  
}

.input{
    padding:0px;
}


input[type=text],input[type=email],input[type=tel]{
    border-left:none ;
    border-right: none;
    padding-bottom: 3px;
    border-top: none;
    border-bottom: 1px solid #9197a1;
    background-color: transparent;
    padding-bottom: 23px;
    
    color: black;
font-family: PTAstraSans-Bold;
font-size: 14px;
font-weight: 700;

}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus{ 
    border-bottom: 3px solid #014db7;
    outline: none;
}

.submit{
    display: block;
//    width: 156px;
    height: 50px;
    color: #014db7;
    border: 2px solid #014db7;
    box-shadow: 0 10px 20px rgba(1, 77, 183, 0.2);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    margin-bottom: 15px;
    line-height: 47px;
    text-align: center;
    &:hover{
        color: #e67c00;
        border: 2px solid #e67c00;
        box-shadow: 0 10px 20px rgba(230, 124, 0, 0.2);
    }
    &:hover .teleg{
        display: inline-block;
        padding-left: 10px;
    }
}

.teleg{
    display: none;
}




input:valid:not(:placeholder-shown) {
	border-color: #014db7;
}

input:invalid:not(:placeholder-shown) {
	border-color: #e67c00;
}
input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}
.form__error{
    display: none;
    color: #e67c00;
    font-size: 10px;
}


.uploadButton{
    border: none;
    width: 76px;
    height: 12px;
    color: #9197a1;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    &:hover{
        cursor: pointer;
    }
}

.uploadDeskr{
    width: 141px;
    height: 31px;
    color: #9197a1;
    font-family: PTAstraSans-Italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0px;
}







/*footer-------------------------------------------------------*/
.logo {
    &__footer{
        margin-top: 14px;
    }
}
.footer-bar__item {
    color: #000;
    margin-right: 31px;
    &:hover{
        color: #f47d42;
    }
}
.adres {
    font-weight: 400;
    line-height: 18px;
    &__title {
        color: #9197a1;
        font-family: "PT Sans";
        font-size: 10px;
        text-transform: uppercase;
    }
    &__content {
        color: black;
        ont-family: PTAstraSans-Italic;
        font-size: 12px;
    }
}
    
.phone {
    font-weight: 400;
    line-height: 18px;
    &__title {
        color: #9197a1;
        font-family: "PT Sans";
        font-size: 10px;
        text-transform: uppercase;
    }
    &__content {
        width: 82px;
        color: black;
        font-family: PTAstraSans-Italic;
        font-size: 12px;
    }
}
    
.email-adres {
    font-weight: 400;
    line-height: 18px;
    &__title {
        color: #9197a1;
        font-family: "PT Sans";
        font-size: 10px;
        text-transform: uppercase;
    }
    &__content {
        color: black;
        font-family: PTAstraSans-Italic;
        font-size: 12px;
    }
}










.menu-fix{
    background-color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    display: none;
    z-index: 100;
}

.nav-top{
    margin-top: 10px;
}


.logo__descr-fix{
    color: #000;
}

.topmenu-fix a{
    color: #000;
}

.submenu-fix{
    position: absolute;
    left: 1;
    top: 48px;
    transition: .3s linear;
}

.burger-fix{
    color: #000;
}





@import "media" // Всегда в конце
